.grid {
    display: grid;
  
    grid-template-areas:
      "header header"
      "side content"
      "footer footer";
  
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 150px 1fr;
    grid-gap: 10px;
  
    height: 100vh;
}

header {
  grid-area: header;
  text-align: center;
  font-size: 5vw;
  background: grey;
  position: fixed;
  top:0px; 
  left:0px; 
  height:21vh; 
  right:0px;
  overflow:hidden;
}

main {
  grid-area: content;
  text-align: center;
  background: white;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

aside {
  grid-area: side;
  margin-left: 0.5rem;
  background: white;
  font-size: 2vw;
  position: fixed;
  margin-top: 175px;
}

footer {
  grid-area: footer;
}

.child {
  background: white;
  height: 260px;
  display: inline-block;
  width: calc(100% * (1/4));
  min-width: 150px;
  margin:10px 0 0 2%;
  border: 1px black solid;
  font-size: 18px;
}

.img {
  height: 175px;
  width: 200px;
}

.modal-card-head {
  height: 80px;
}

#input {
  background: white;
  height: 5vh;
  width: 220px;
  margin-left: 2vw;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 1px;
}

.is-grouped {
  margin-top: 10px;
  margin-right: 10vw;
}

#is-info{
  margin-top: 10px;
  width: 8vw;
  font-size: 1.6vw;
  height: 5vh;
}

label {
  margin-right: 5px;
}

nav {
  font-size: 15px;
  float: right;
  width: 125px
}

h1 {
  color: white;
}

.itemName {
  font-weight: bold
}