.grid {
    display: grid;
  
    grid-template-areas:
      "header header"
      "side content"
      "footer footer";
  
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 150px 1fr;
    grid-gap: 10px;
  
    height: 100vh;
}

header {
  grid-area: header;
  text-align: center;
  font-size: 75px;
  background: lightblue;
}

main {
  grid-area: content;
  text-align: center;
  background: white;
  display: flex;
  flex-wrap: wrap;
}

aside {
  grid-area: side;
  margin-left: 0.5rem;
  background: white;
  font-size: 25px;
}

footer {
  grid-area: footer;
}

.child {
  background: white;
  height: 250px;
  width: 300px;
  display: inline-block;
  width: calc(100% * (1/4) - 8px - 1px);
  margin:10px 0 0 2%;
  border: 1px black solid;
  font-size: 18px;
}

.img {
  height: 175px;
  width: 200px;
}